/* Customized styles */

@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(impress.css);

body {
    background-color: #fff;
}

.step {
    width: 1000px;
    height: 750px;
    color: #222;
    padding: 20px;
    font-size: 160%;
    font-family: "Palatino Linotype", Helvetica;
    text-shadow: -1px -1px 1px rgba(100,100,100,0.5);

    /* does not work for #overview */
    /* background-color: #fff; */
    /* border-radius: 10px; */
}
.step h1, .step h2, .step h3 {
    font-family: "Cabin Sketch", "Palatino Linotype", Helvetica;
    color: purple;
}

img {
    margin-left: 40px;
}

#cover img {
    margin: 25px 0 0 100px;
    float: left;
    height: 210px;
}

.title {
    padding-top: 150px;
    text-align: center;
}

.red { color: red; }
.navy { color: navy; }
.left { float: left; }
.right { float: right; }
pre { margin-left: 30px; }
